html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.container{
    width: 1100px;
    margin: 0 auto;
}

.page{
    font-family: monospace;
    font-size: 16px;
}

.head h1{
    background-color: black;
    color: aliceblue;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    padding: 20px;
}
.head{
    background-color: #000;
}

.table-data{
    margin: 0 auto;
    margin-top: 30px;
    
}

.table-data td{
    border: 3px solid red;
    width: 150px;
    height: 100px;
    font-size: 30px;
    padding:15px;
    text-align: center;
}



a{
    text-decoration: none;
}
.head h1{
    background-color: black;
    color: aliceblue;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    padding: 20px;
}

.table-section{
    margin: 60px 0;
}

.data{
    width: 1100px;
    border-style: hidden;
    color: #1a1a1a;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 0 2px #e4e4e4;
    
    
}


.data th,
.data td{
    border-top: 3px solid #e4e4e4;
}

.data th{
    text-align: left;
    font-weight: 500;
    padding: 18px 16px;
    width: 500px;
    
}

.data th + th + th{
    width: auto;
}

.data td {
    padding: 8px 16px;
}

.last-item{
    text-align: center;
}

.btn{
    cursor: pointer;
    padding: 6px 18px;
    border-radius: 12px;
}

.btn.online{
    background-color: lightgreen;
    color: green;
}

.btn.offline{
    background: lightcoral;
    
}

.btn.stay{
    background: #EDEDFE;
    color: #605DEC;
}

.btn.not{
    background: #FFF4E4;
    color: #E99518;
}

.btn.spy{
    background-color: #F8F9FB;
    color: #BDBCDB;
}